.form__button {
  border: none;
  box-sizing: border-box;
  outline: none;
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  padding: 0;
  color: #ffffff;
  margin-top: 18px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: 0.2s linear;
  margin-bottom: 37px;
  cursor: pointer;
}
.form__button:hover {
  opacity: 0.8;
}
.form__button:not([disabled]):hover{
  cursor: pointer
}
@media screen and (max-width: 600px) {
  .form__button {
    width: 238px;
    margin-bottom: 24px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}