.popup__button {
  padding: 0;
  border: 0;
  flex: 0 0 auto;
  position: relative;
  left: 40px;
  top: -9px;
  outline: none;
  background: transparent;
  outline: none;
  transition: 0.2s linear;
  cursor: pointer;
}
.popup__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__button {
    width: 20px;
    object-fit: cover;
    left: 0px;
    top: -9px;
  }
}
