.profile__text {
  padding: 0 0 0 30px;
  max-width: 335px;
  width: 100%;
}
@media screen and (max-width: 1100px) {
  .profile__text {
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .profile__text {
    text-align: center;
    padding: 26px 0 0;
  }
}
